.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  padding: 0 15px;
  border-radius: 50%;
  background-color: #4f46e5;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.line {
  flex: 1; 
  height: 4px;
  background-color: #4f46e5;
  max-width: 150px; 
}

button {
  margin: 10px 10px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 6px;            
}
